<div class="col-xs-12 no-padding color-white">
  <div class="col-xs-12 visible-xs" style="position: relative; top: 25px">
    <div  ng-click="prev()"  class="up" id="scrollIndicator-up" style="top: 0px"><i></i></div>
  </div>
  <div class="col-xs-12 heading-30 content-about" ng-class="{'fadeInUpContact': showText && !removeText, 'fadeOutDown': removeText}">
    <div class="col-xs-12 no-padding" ng-show="showText">
      <div class="col-xs-12 no-padding" style="margin-top: 30px">
        <div class="col-xs-12 parent links-heading no-padding">
          <i ng-show="showText" class="icon link child" style="color: #171717;left: 0px !important;"><img src="images/double_quotes.png"></i>
          
        <div> Policies </div> 
        </div>
        <!-- <br/> -->
        <!-- <br/> -->
        <div class="heading-20 margin-btm"> <a class="color-white" href="https://drive.google.com/open?id=0B3b0VaOXu3KzangyczU0UVBFbnc" target="_blank"> Privacy Policy </a> </div>
        <!-- <br/> -->
        <div class="heading-20 margin-btm"> <a class="color-white" href="https://drive.google.com/open?id=0B3b0VaOXu3KzRDlNblNlSFBpLWM" target="_blank"> Terms & Conditions </a> </div>
        <!-- <br/> -->
        <div class="heading-20 margin-btm"> <a class="color-white" href="https://drive.google.com/open?id=0B3b0VaOXu3KzSzJqR2dGMmxoTzQ" target="_blank"> Refund Policy </a> </div>
        <!-- <br/> -->
        <div class="heading-20 margin-btm"> <a class="color-white" href="https://drive.google.com/open?id=0B3b0VaOXu3KzdFF2X29tMlN0NGc" target="_blank"> Pricing Policy </a> </div>
      </div>
    </div>
  </div>
</div>
